{
  "extends": ["vtex-react-app"],
  "plugins": ["react"],
  "rules": {
    "indent": 0,
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }],
    "react/boolean-prop-naming": [
      "error",
      {
        "rule": "^(can|is|has|show|should)[A-Z]([A-Za-z0-9]?)+"
      }
    ],
    "react/default-props-match-prop-types": "error",
    "react/defaultsProps": 0,
    "react/jsx-sort-props": [
      2,
      {
        "callbacksLast": false,
        "shorthandFirst": false,
        "shorthandLast": false,
        "ignoreCase": true,
        "noSortAlphabetically": false,
        "reservedFirst": false
      }
    ],
    "react/require-default-props": 0,
    "react/sort-prop-types": 2
  }
}
