/* main structue */

.pkpmodal {
  background: #fff;
  position: fixed;
  z-index: 100;
}

.modalBackdrop {
  background: #fff;
  opacity: 0.8;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
}

.modalfullPage {
  background-color: rgba(249, 249, 249, 0.9);
  display: flex;
  height: 100%;
  position: absolute;
  width: 100%;
}

.modalSidebar {
  display: flex;
  height: 100%;
  position: absolute;
  width: 100%;
}

/* searh */

.searchAlone {
  box-sizing: border-box;
  flex: auto;
  margin-bottom: 14px;
  margin-top: 50px;
  padding: 0 20px 20px;
  text-align: center;
  width: 100%;
}

.searchAloneTitle {
  color: #333;
  flex: none;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.3;
  margin: 0 0 16px;
}

.searchAloneSubtitle {
  color: #999;
  flex: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  margin: 0 0 40px;
}

/* media queries */

@media (max-width: 1023px) {
  .pkpmodal {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .pkpmodal {
    border: 1px solid #ccc;
    top: 50%;
    left: 50%;
    height: 560px;
    width: 900px;
    margin-top: -280px;
    margin-left: -450px;
  }

  .modalfullPage .searchAloneTitle {
    font-size: 28px;
  }

  .modalfullPage .searchAloneSubtitle {
    font-size: 16px;
  }
}
