.closeButton {
  background: transparent;
  border: 0;
  color: #666666;
  padding: 14px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
  transition: 0.256s ease-in;
}

.closeButton:hover {
  color: #333333;
}

.closeButton svg {
  display: block;
}

@media (min-width: 1024px) {
  .closeButton {
    box-shadow: 0px 3px 9px rgba(61, 62, 64, 0.25);
  }

  .closeButton,
  .closeButton:hover {
    background: #fff;
    border-radius: 100%;
    padding: 12px;
    right: 13px;
    top: 12px;
  }
}
