.locating {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 16px 16px;
  position: relative;
  text-align: center;
  width: 100%;
}

/* images */

.imageAsk {
  background: #368df7;
  border-radius: 100%;
  box-shadow: 0 4px 6px 0 rgba(153, 153, 153, 0.5);
  cursor: pointer;
  display: inline-block;
  height: 130px;
  margin-top: 30px;
  overflow: hidden;
  width: 130px;
}

.imageSearchingPin {
  animation: bounce 1s infinite;
}

.imageWaitingShadow,
.imageSearchingShadow,
.errorImageShadow {
  background-color: #ccc;
  width: 30px;
  height: 30px;
  border-radius: 80px;
  margin-bottom: 30px;
  margin: -15px auto 0;
}

.imageWaitingShadow,
.errorImageShadow {
  transform: rotateX(76deg) scale(1);
}

.imageSearchingShadow {
  animation: bounce-shadow 1s infinite;
}

:global .pkpmodal-search-alone .imageWaitingPin {
  height: 60px;
}


/* texts */

.content {
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: #333;
  flex: none;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.3;
  margin: 0 0 12px;
}

.titleSmall {
  font-size: 20px;
  color: #666;
  font-weight: 400;
  margin-bottom: 8px;
  line-height: 1.3;
  margin-top: 24px;
}

.subtitle {
  color: #999;
  flex: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  margin: 0;
}

/* actions */

.actions {
  flex: none;
  display: none;
}

:global .pkpmodal-full-page .actions {
  display: block;
}

/* media queries */

@media (min-width: 1024px) {
  :global .pkpmodal-full-page .title {
    font-size: 28px;
  }

  :global .pkpmodal-full-page .subtitle {
    font-size: 16px;
  }

  :global .pkpmodal-full-page .titleSmall {
    font-size: 24px;
  }

  :global .pkpmodal-full-page .actions {
    margin: 0 auto 20px;
    width: 300px;
  }
}

/* images animations */

@keyframes bounce {
  0% {
    transform: translateY(-15px);
  }
  40% {
    filter: none;
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-15px);
  }
}

@keyframes bounce-shadow {
  0% {
    transform: rotateX(80deg) scale(1.6);
  }
  40% {
    filter: none;
    transform: rotateX(76deg) scale(1);
  }
  100% {
    transform: rotateX(80deg) scale(1.6);
  }
}
