/* main structure */

.modalDetails {
  display: flex;
  flex-direction: column;
  z-index: 101;
  flex: 1 1 auto;
  position: relative;
}

.modalDetailsTop {
  flex: none;
  margin-bottom: 1px;
}

.modalDetailsMiddle {
  overflow: auto;
  flex: 1 1 auto;
  min-height: 0; /* fix firefox overflow bug */
  -webkit-overflow-scrolling: touch;
}

.modalDetailsBottom {
  background: white;
  flex: none;
  bottom: 0;
  padding: 10px;
}

/* middle section */

.modalDetailsStore {
  padding: 12px;
}

.modalDetailsInfo {
  padding: 15px;
}

.modalDetailsGroup {
  margin-bottom: 20px;
}

.modalDetailsInfoTitle {
  font-weight: 300;
  margin-top: 0;
}

/* business hours */

.modalDetailsHours {
  font-size: 12px;
  width: 100%;
}

.modalDetailsHours td {
  border-bottom: 1px solid #f2f4f5;
  padding-top: 6px;
}

.modalDetailsHoursRange,
.modalDetailsHoursClosed {
  text-align: right;
}

.modalDetailsHoursClosed {
  color: #ff4c4c;
}

/* links and icons */

.modalDetailsBackLnk {
  display: block;
  text-align: left;
  padding: 8px 12px 9px;
}

.iconBackPickupPointsList {
  font-size: 25px;
  vertical-align: sub;
  margin-right: 12px;
  text-decoration: none;
}
