/* header */

.modalHeader {
  border-bottom: 1px solid #eee;
  padding: 19px 0 20px 15px;
  flex: none;
  z-index: 1;
}

.modalTitle {
  color: #142032;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin: 0;
}
