.pkpmodal-product-items-group {
  margin: 10px 0 0;
}

.pkpmodal-product-items {
}

.pkpmodal-product-item {
  border: 1px solid #e7e7e7;
  display: inline-block;
  margin: 4px 8px 4px 0;
  padding: 2px;
}

.pkpmodal-product-item-unavailable {
  position: relative;
  overflow: hidden;
  border-color: #FFC1C1;
}

.pkpmodal-product-item-unavailable img {
  opacity: 0.3;
}

.pkpmodal-product-item-unavailable-slash {
  content: ' ';
  top: 49%;
  left: -20%;
  position: absolute;

  background: #FFC1C1;
  transform: rotate(45deg);
  width: 140%;
  height: 1px;
}

.__react_component_tooltip {
  max-width: 200px;
}
