.modalSearch {
  position: relative;
}

.modalPostalCode {
  margin: 20px auto;
  max-width: 300px;
  text-align: left;
}

:global .pkpmodal-search #ship-postalCode {
  width: auto;
}

.searchAlone .modalSearch {
  margin-top: 20px;
}

.modalSearch input::placeholder {
  color: #ccc;
  font-weight: 300;
}

.modalSearch input {
  font-size: 16px;
  height: auto;
  padding: 12px 52px 12px 46px !important;
  box-shadow: 0 1px 1px 0 rgba(204, 204, 204, 0.5);
  background-color: #ffffff;
  border: 0;
  border-radius: 0;
  width: 100%;
  max-width: 100%;
}

.modalPostalCode input {
  font-size: 16px;
  height: auto;
  padding: 12px !important;
  box-shadow: 0 1px 1px 0 rgba(204, 204, 204, 0.5);
  background-color: #ffffff;
  border: 0;
  border-radius: 0;
  width: 100px;
  margin-right: 8px;
}

:global .pkpmodal-search input {
  font-size: 16px;
  height: auto;
  padding: 12px 52px 12px 46px !important;
  box-shadow: 0 1px 1px 0 rgba(204, 204, 204, 0.5);
  background-color: #ffffff;
  border: 0;
  border-radius: 0;
  width: 100%;
  max-width: 100%;
}

/* ask for geolocation */

.askGeolocationBtn:active,
.askGeolocationBtn:focus {
  outline: none !important;
}

.askGeolocationBtn:hover,
.askGeolocationBtn {
  background: #fff;
  border: 0;
  border-left: 1px solid #eee;
  display: flex;
  flex: none;
  padding: 10px 16px;
  position: absolute;
  right: 0;
  top: 4px;
}

.askGeolocationBtn {
  opacity: 0.9;
}

.askGeolocationBtn:hover {
  opacity: 1;
}

.askGeolocationBtnPostalCode:hover,
.askGeolocationBtnPostalCode {
  top: 24px;
  z-index: 99;
}

/* Google Maps autocomplete */

:global .pac-item {
  padding-bottom: 8px;
  padding-top: 8px;
}

:global .pac-item:hover {
  background: #f1f8fe;
  cursor: pointer;
}

:global .pac-item,
:global .pac-item-query,
:global .pac-matched {
  font-size: 14px;
}

@media (min-width: 1024px) {
  .searchAlone .modalSearch input {
    font-size: 24px;
    height: auto;
    padding: 24px 86px 24px 56px !important;
  }

  .searchAlone .modalPostalCode {
    margin-top: 32px;
  }

  .searchAlone .modalPostalCode input {
    font-size: 24px;
    width: 130px;
  }

  .searchAlone .modalSearchIcon {
    position: absolute;
    z-index: 99;
    left: 23px;
    top: 31px;
  }

  .searchAlone .askGeolocationBtn {
    top: 10px;
    padding: 20px 24px;
  }

  .searchAlone .pkpmodal-use-geolocationIcon {
    height: 20px;
    width: 20px;
  }
}
