.searchArea {
  align-items: center;
  background: white;
  color: #347edd;
  border-radius: 5px;
  box-shadow: 0px 3px 9px rgba(61, 62, 64, 0.25);
  display: flex;
  flex-direction: row;
  outline: none;
  position: absolute;
  padding: 10px 20px;
  right: 200px;
  top: 12px;
  z-index: 999;
  transition: 0.3s ease-in;
}

.refreshIcon {
  margin-right: 10px;
}

.hide {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
