.pkpmodal-close {
  position: absolute;
  padding: 14px;
  right: 0;
  top: 0;
  z-index: 999;
}

@media (min-width: 1024px) {
  .pkpmodal-close,
  .pkpmodal-close:hover {
    border-radius: 20px;
    background: #fff;
    right: 10px;
    top: 10px;
    padding: 10px 14px;
  }
}
