.pkpmodal-close {
  background: transparent;
  border: 0;
  padding: 14px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
}

.pkpmodal-close svg {
  display: block;
}

@media (min-width: 1024px) {
  .pkpmodal-close,
  .pkpmodal-close:hover {
    background: #fff;
    border-radius: 100%;
    padding: 12px;
    right: 10px;
    top: 10px;
  }
}
