.pkpmodal-locating-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 16px 16px;
  position: relative;
  text-align: center;
  width: 100%;
}

/* images */

.pkpmodal-locating-image-ask {
  background: #368df7;
  border-radius: 100%;
  box-shadow: 0 4px 6px 0 rgba(153, 153, 153, 0.5);
  display: inline-block;
  height: 130px;
  margin-top: 30px;
  overflow: hidden;
  width: 130px;
}

.pkpmodal-locating-image-searching-pin {
  animation: bounce 1s infinite;
}

.pkpmodal-locating-image-waiting-shadow,
.pkpmodal-locating-image-searching-shadow,
.pkpmodal-locating-error-image-shadow {
  background-color: #ccc;
  width: 30px;
  height: 30px;
  border-radius: 80px;
  margin-bottom: 30px;
  margin: -15px auto 0;
}

.pkpmodal-locating-image-waiting-shadow,
.pkpmodal-locating-error-image-shadow {
  transform: rotateX(76deg) scale(1);
}

.pkpmodal-locating-image-searching-shadow {
  animation: bounce-shadow 1s infinite;
}

.pkpmodal-search-alone .pkpmodal-locating-image-waiting-pin {
  height: 60px;
}


/* texts */

.pkpmodal-locating-content {
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: center;
}

.pkpmodal-locating-title {
  color: #333;
  flex: none;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.3;
  margin: 0 0 12px;
}

.pkpmodal-locating-title-small {
  font-size: 20px;
  color: #666;
  font-weight: 400;
  margin-bottom: 8px;
  line-height: 1.3;
  margin-top: 24px;
}

.pkpmodal-locating-subtitle {
  color: #999;
  flex: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  margin: 0;
}

/* actions */

.pkpmodal-locating-actions {
  flex: none;
  display: none;
}

.pkpmodal-full-page .pkpmodal-locating-actions {
  display: block;
}

/* media queries */

@media (min-width: 1024px) {
  .pkpmodal-full-page .pkpmodal-locating-title {
    font-size: 28px;
  }

  .pkpmodal-full-page .pkpmodal-locating-subtitle {
    font-size: 16px;
  }

  .pkpmodal-full-page .pkpmodal-locating-title-small {
    font-size: 24px;
  }

  .pkpmodal-full-page .pkpmodal-locating-actions {
    margin-bottom: 20px;
  }
}

/* images animations */

@keyframes bounce {
  0% {
    transform: translateY(-15px);
  }
  40% {
    filter: none;
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-15px);
  }
}

@keyframes bounce-shadow {
  0% {
    transform: rotateX(80deg) scale(1.6);
  }
  40% {
    filter: none;
    transform: rotateX(76deg) scale(1);
  }
  100% {
    transform: rotateX(80deg) scale(1.6);
  }
}
