/* info bar structure */

.pkpmodal-info-bar {
  height: 100%;
  position: relative;
}

.pkpmodal-info-bar-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  position: relative;
}

/* header */

.pkpmodal-header {
  border-bottom: 1px solid #eee;
  padding: 5px 0 5px 15px;
  flex: none;
  z-index: 1;
}

h4.pkpmodal-title {
  font-size: 15px;
}

/* list of points */

.pkpmodal-points-list {
  flex: 1 1 auto;
  position: relative;
  overflow: auto;
  padding: 5px 12px;
}

.pkpmodal-points-item {
  cursor: pointer;
  margin-bottom: 12px;
}

.pkpmodal-points-item:hover .pkpmodal-pickup-point {
  border-color: #ccc;
}

/* media queries */

@media (max-width: 1023px) {
  .pkpmodal-info-bar-container.active {
    height: auto;
  }

  .pkpmodal-info-bar-container {
    background-color: #f4f4f4;
    height: 100vh;
  }

  .pkpmodal-info-bar-map {
    height: auto;
  }
}

@media (min-width: 1024px) {
  .pickup-tabs-container {
    display: none;
  }

  .pkpmodal-info-bar {
    padding: 10px;
    box-sizing: border-box;
    width: 340px;
  }

  .pkpmodal-points-list {
    margin-top: 8px;
    overflow: auto;
  }
}
