/* main structue */

.pickup-point {
  display: table;
  padding: 15px 10px 15px 0;
}

.pickup-point-marker,
.pickup-point-info {
  display: table-cell;
}

/* marker */

.pickup-point-marker {
  vertical-align: top;
  text-align: center;
  width: 50px;
}

/* name */

.pickup-point-name {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

/* address */

.pickup-point-address {
  color: #333333;
  margin: 4px 0 10px;
  line-height: 1.5;
}

/* sla info */

.pickup-point-price,
.pickup-point-sla {
  background: #fff;
  color: #3386e8;
  display: inline-block;
  font-size: 12px;
  border: 1px solid #3386e8;
  padding: 0 8px;
  border-radius: 12px;
}

.pickup-point-price {
  margin-right: 10px;
}
