/* main structure */

.pkpmodal-details {
  display: flex;
  flex-direction: column;
  z-index: 101;
  flex: 1 1 auto;
  position: relative;
}

.pkpmodal-details-top {
  flex: none;
  margin-bottom: 1px;
}

.pkpmodal-details-middle {
  overflow: auto;
  flex: 1 1 auto;
  -webkit-overflow-scrolling: touch;
}

.pkpmodal-details-bottom {
  background: white;
  flex: none;
  bottom: 0;
  padding: 10px;
}

/* middle section */

.pkpmodal-details-store {
  padding: 12px;
}

.pkpmodal-details-info {
  padding: 15px;
}

.pkpmodal-details-group {
  margin-bottom: 20px;
}

.pkpmodal-details-info-title {
  margin-top: 0;
}

/* business hours */

.pkpmodal-details-hours {
  font-size: 12px;
  width: 100%;
}

.pkpmodal-details-hours td {
  border-bottom: 1px solid #F2F4F5;
  padding-top: 6px;
}

.pkpmodal-details-hours-range,
.pkpmodal-details-hours-closed {
  text-align: right;
}

.pkpmodal-details-hours-closed {
  color: #FF4C4C;
}

/* links and icons */

.pkpmodal-details-back-lnk {
  display: block;
  text-align: left;
  padding: 8px 12px 9px;
}

.pkpmodal-icon-back-pickup-points-list {
  font-size: 25px;
  vertical-align: sub;
  margin-right: 12px;
  text-decoration: none;
}
