.pickup-view-mode {
  position: relative;
  width: 100%;
  padding: 8px;
  padding-top: 0;
  box-sizing: border-box;
}

.pickup-view-map,
.pickup-view-list {
  width: 50%;
}

.pickup-view-option-active,
.pickup-view-option-active:hover,
.pickup-view-option-active:active,
.pickup-view-option-active:focus {
  border: 1px solid #357edd;
  background: #357edd;
  color: #fff;
  text-decoration: none;
  text-shadow: none;
}

.pickup-view-option-inactive,
.pickup-view-option-inactive:hover,
.pickup-view-option-inactive:active,
.pickup-view-option-inactive:focus {
  border: 1px solid #357edd;
  background: #fff;
  color: #357edd;
  text-decoration: none;
  text-shadow: none;
}
