.pickupPointDetails {
  display: flex;
  flex-direction: column;
  z-index: 101;
  flex: 1 1 auto;
  overflow: auto;
  position: relative;
}

.flex {
  flex: 1 1 auto;
}

.flexNone {
  flex: none;
}

.pickupDetailsMiddle {
  overflow: scroll;
  flex: 1 1 auto;
}

.pickupPointDetailsBottom {
  background: white;
  flex: none;
  bottom: 0;
}

.info {
  padding: 15px;
}

.pickupPointDetailsStore {
  background: #f4f4f4;
  padding: 15px 0;
}

.backLink {
  display: block;
  text-align: left;
  padding: 8px 12px 9px;
}

.iconBack {
  font-size: 25px;
  vertical-align: sub;
  margin-right: 12px;
  text-decoration: none;
}

.group {
  margin-bottom: 20px;
}

.title {
  margin-top: 0;
}

.cancelButton,
.cancelButton:hover {
  color: red;
}

.confirmButton,
.cancelButton {
  width: 100%;
}

.bottom {
  padding: 10px;
}

/*@media (max-width: 1023px) {
  .pickupPointDetails {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

@media (min-width: 1024px) {
  .pickupPointDetails {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    width: 320px;
  }
}*/
