/* main structue */

.pkpmodal-pickup-point {
  background-color: #fff;
  border: 1px solid #f4f4f4;
  border-radius: 4px;
}

.pickup-modal-points-list .pkpmodal-pickup-point {
  box-shadow: 0 2px 2px 0 rgba(221, 221, 221, 0.5);
}

.pkpmodal-pickup-point-main {
  display: flex;
  padding: 12px 10px 12px 0;
}

.pkpmodal-pickup-point-marker {
  flex: none;
}

.pkpmodal-pickup-point-marker-image {
  height: 26px;
}

.pkpmodal-pickup-point-info {
  flex: 1 1 auto;
  width: 96px;
}

/* marker */

.pkpmodal-pickup-point-marker {
  vertical-align: top;
  text-align: center;
  width: 60px;
}

/* distance */

.pkpmodal-pickup-point-distance {
  font-size: 10px;
  line-height: 1;
  margin: 4px 0 0;
}

/* name */

.pkpmodal-pickup-point-name {
  font-size: 16px;
  font-weight: 700;
}

/* address */

.pkpmodal-pickup-point-address {
  color: #666;
  line-height: 1.3;
}

.pickup-modal-points-list .address-summary {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* sla info */

.pkpmodal-pickup-point-sla-availability {
  border-top: 1px solid #f4f4f4;
  padding: 8px 12px 8px 60px;
}

.pkpmodal-pickup-point-availability {
  color: #ffb100;
  display: inline-block;
  margin-top: 12px;
}

.pkpmodal-pickup-point-price,
.pkpmodal-pickup-point-sla {
  display: inline-block;
  margin-right: 20px;
  font-size: 12px;
}

.pkpmodal-pickup-point-address .city,
.pkpmodal-pickup-point-address .city-dash,
.pkpmodal-pickup-point-address .postal-code,
.pkpmodal-pickup-point-address .postal-code-dash,
.pkpmodal-pickup-point-address .state,
.pkpmodal-pickup-point-address .state-dash,
.pkpmodal-pickup-point-address .country,
.pkpmodal-pickup-point-address .country-dash {
  display: none;
}
