/* main structure */

.pkpmodal-pickup-point-details {
  display: flex;
  flex-direction: column;
  z-index: 101;
  flex: 1 1 auto;
  position: relative;
}

.pkpmodal-pickup-point-details-top {
  flex: none;
}

.pkpmodal-pickup-point-details-middle {
  overflow: auto;
  flex: 1 1 auto;
}

.pkpmodal-pickup-point-details-bottom {
  background: white;
  flex: none;
  bottom: 0;
  padding: 10px;
}

/* middle section */

.pkpmodal-pickup-point-details-store {
  padding: 12px;
}

.pkpmodal-pickup-point-details-info {
  padding: 15px;
}

.pkpmodal-pickup-point-details-group {
  margin-bottom: 20px;
}

.pkpmodal-pickup-point-details-info-title {
  margin-top: 0;
}

/* links and icons */

.pkpmodal-link-back-pickup-points-list {
  display: block;
  text-align: left;
  padding: 8px 12px 9px;
}

.pkpmodal-icon-back-pickup-points-list {
  font-size: 25px;
  vertical-align: sub;
  margin-right: 12px;
  text-decoration: none;
}
