.product-items-group {
  margin: 10px 0 0;
}

.product-items {
  display: flex;
  overflow: auto;
  padding: 0 10px 10px 0;
}

.product-item {
  border: 1px solid #e7e7e7;
  margin-right: 5px;
  padding: 2px;
}

.product-item-unavailable {
  position: relative;
  overflow: hidden;
  border-color: #FFC1C1;
}

.product-item-unavailable img {
  opacity: 0.3;
}

.product-item-unavailable-slash {
  content: ' ';
  top: 49%;
  left: -20%;
  position: absolute;

  background: #FFC1C1;
  transform: rotate(45deg);
  width: 140%;
  height: 1px;
}

.__react_component_tooltip {
  max-width: 200px;
}
