.pkpmodal-ask-for-geolocation-subtitle + .pkpmodal-search {
  margin-top: 20px;
}

.pkpmodal-search {
  position: relative;
}

.pkpmodal-search input::placeholder {
  color: #ccc;
  font-weight: 300;
}

.pkpmodal-search input {
  font-size: 16px;
  height: auto;
  padding: 12px 52px 12px 46px !important;
  box-shadow: 0 1px 1px 0 rgba(204, 204, 204, 0.5);
  background-color: #ffffff;
  border: 0;
  border-radius: 0;
  width: 100%;
  max-width: 100%;
}

.pkpmodal-search-icon {
  position: absolute;
  z-index: 99;
  left: 16px;
  top: 14px;
}

/* ask for geolocation */

.pkp-modal-ask-geolocation-btn:active,
.pkp-modal-ask-geolocation-btn:focus {
  outline: none !important;
}

.pkp-modal-ask-geolocation-btn:hover,
.pkp-modal-ask-geolocation-btn {
  background: #fff;
  border: 0;
  border-left: 1px solid #eee;
  display: flex;
  flex: none;
  padding: 10px 16px;
  position: absolute;
  right: 0;
  top: 4px;
}

.pkp-modal-ask-geolocation-btn {
  opacity: .9;
}

.pkp-modal-ask-geolocation-btn:hover {
  opacity: 1;
}

/* Google Maps autocomplete */

.pac-item {
  padding-bottom: 8px;
  padding-top: 8px;
}

.pac-item:hover {
  background: #f1f8fe;
  cursor: pointer;
}

.pac-item,
.pac-item-query,
.pac-matched {
  font-size: 14px;
}

@media (min-width: 1024px) {
  .pkpmodal-search-alone .pkpmodal-search input {
    font-size: 24px;
    height: auto;
    padding: 24px 86px 24px 56px !important;
  }

  .pkpmodal-search-alone .pkpmodal-search-icon {
    position: absolute;
    z-index: 99;
    left: 23px;
    top: 31px;
  }

  .pkpmodal-search-alone .pkp-modal-ask-geolocation-btn {
    top: 10px;
    padding: 20px 24px;
  }

  .pkpmodal-search-alone .pkpmodal-use-geolocation-icon {
    height: 20px;
    width: 20px;
  }
}
