/* main structue */

.pkpmodal {
  background: #fff;
  position: fixed;
  z-index: 100;
}

.pkpmodal-backdrop {
  background: #fff;
  opacity: 0.8;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
}

/* searh */

.pkpmodal-search-alone {
  box-sizing: border-box;
  flex: auto;
  margin-bottom: 14px;
  margin-top: 50px;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.pkpmodal-search-alone .pkpmodal-ask-for-geolocation-image-waiting-pin {
  height: 60px;
}

/* media queries */

@media (max-width: 1023px) {
  .pkpmodal {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .pkpmodal {
    border: 1px solid #ccc;
    top: 50%;
    left: 50%;
    height: 560px;
    width: 900px;
    margin-top: -280px;
    margin-left: -450px;
  }
}
